[submodule "submodules/web-mode"]
	path = submodules/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "submodules/magit"]
	path = submodules/magit
	url = https://github.com/magit/magit.git
[submodule "submodules/dash"]
	path = submodules/dash
	url = https://github.com/magnars/dash.el.git
[submodule "submodules/expand-region"]
	path = submodules/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "submodules/helm"]
	path = submodules/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "submodules/emacs-async"]
	path = submodules/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "submodules/nasm-mode"]
	path = submodules/nasm-mode
	url = https://github.com/skeeto/nasm-mode.git
[submodule "submodules/with-editor"]
	path = submodules/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "submodules/undo-tree"]
	path = submodules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
