*~
\#*\#
backups/
auto-save-list/
server/
tramp
loaddefs.el
elisp/clojure-mode/
elisp/swank-clojure/
elisp/org-mode/
elisp/gnus/
elisp/slime/
elisp/haskellmode-emacs/
elisp/cperl-mode/
elisp/emacs_chrome/
elisp/yasnippet/
elisp/scala-mode/
elisp/android-mode/
elisp/nxhtml/
