*~
\#*\#
auto-save-list/
eshell/
elpy/
eln-cache/
server/
transient/
session.*
tramp
loaddefs.el
elpa/
semanticdb/
.DS_Store
ac-comphist.dat
ede-projects.el
.org-id-locations
org-roam.db
bookmarks
recentf
projectile-bookmarks.eld
projectile.cache
.lsp-session-v1
